<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tenhourstudios.decimalclock">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".DecimalClockApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".data.ClockAppWidgetProvider"
            android:label="@string/appwidget_ten_hour_clock_digital">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.USER_BACKGROUND" />
            </intent-filter>
            <intent-filter>
                <action android:name="UPDATE_WIDGET_TIME" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/clock_widget_provider_info" />
        </receiver>
    </application>

</manifest>